.body_container{
    display: flex;
    justify-content: center ;
    background-color: #eee;
}

.inner_container{
    display: flex;
    width: 80%;
    margin: 50px 0;
}

.inner_left{
    width: 50%;
}

.inner_group_button button{
    background-color: blue;
    padding: 5px 10px; 
    color: #fff; 
    border: 0; 
    border-radius: 5px; 
    font-weight: bold;
    margin-top: 5px;
}

.inner_group_button button:hover , .hotline:hover{
    cursor: pointer;
}

.inner_span{
    color: #000;
}

.inner_left_image, .inner_left_paragraph{
    margin-top: 10%;
}

.inner_left_image img{
    width: 100%;
}

.hotline{
    color: #09f;
    text-decoration: none;
}

.hotline:hover{
    text-decoration: underline;
}

.inner_right{
    width: 50%;
    margin-left: 5%;
}

.group_films{
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.caption{
    text-align: center;
    margin: 25px 0;
}

.film{
    margin-bottom: 30px;   
}

.image_film{
    object-fit: cover;
    display: flex;
    justify-content: center;
}

.image_film img{
   width: 85%;
   border-radius: 30px;
}

.name_film p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #09f;
    margin-top: 10px;
}

.name_film p:hover{
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 2px ;
}