@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Be Vietnam Pro", sans-serif;
}

body {
    align-items: center;
    min-height: 100vh;
    background-color: #f3f3f3;
}

.Login {
    background-color: black;
    color: white;
    padding: 0.3125rem 0;
    text-align: right;
    padding-right: 20px;
}

.Login a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 0.75rem;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgb(143, 142, 142);
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    padding: 0 5%;
}

.header_img {
    width: 6rem;
    height: 4.375rem;
}

.header-select {
    height: max-content;
    width: max-content;
    border-radius: 10px;
    padding:0.4rem 0.1rem;
    margin-bottom: 0;
}

.header_menu {
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.menu_item {
    text-align: center;
}

.menu_item a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: large;
    font-size: 1.1rem;
}

.menu_item:hover a {
    color: #09f;
}

footer{
    border-top: 1px solid rgb(143, 142, 142);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 1.25rem;
}

.footer-column {
    flex: 1;
    margin: 0 10px;
}

.footer-column h3 {
    font-size: 1.4em;
    margin-bottom: 0.625rem;
}

.footer-column a {
    text-decoration: none;
    color: #333;
    font-size: 0.8rem;
}

.footer-column a:hover {
    color:#09f;
    text-decoration: underline;
}
.footer-column p {
    line-height: 1.4;
    text-align: left;
    font-size: 0.8rem;
}

.footer-container .footer-introduce i{
    font-size: 0.6rem;
}

#inner-icon-facebook{
    color:#09f;
}

#inner-icon-youtobe{
    color:red;
}

#inner-icon-twitter{
    color: #000;
}

#inner-icon-instagram{
    background: radial-gradient(circle at 30% 110%,
    #ffdb8b 0%,
    #ee653d 25%,
    #d42e81 50%,
    #a237b6 75%,
    #3e57bc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-column i {
    font-size: 1.6em;
    color: #333;
    margin-right: 10px;
    cursor: pointer;
}